<!DOCTYPE html>
<html dir="ltr" lang="en-US">

<body>
    <div class="preloader">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <!-- Document Wrapper
	============================================= -->
    <div id="wrapper" class="wrapper clearfix">

        <!-- Header -->
     


        <!-- Slider #1
============================================= -->
        <section id="slider" class="carousel slider slider-navs" data-slide="1" data-slide-rs="1" data-autoplay="false"
            data-nav="true" data-dots="true" data-space="0" data-loop="true" data-speed="800">

            <!-- Slide #1 -->
            <div class="slide--item bg-overlay bg-overlay-dark">
                <div class="bg-section">
                    <img src="https://besthqwallpapers.com/Uploads/29-8-2016/6623/thumb2-sport-weigh-biceps-bodybuilding-muscles.jpg"
                        alt="background">
                </div>
                <div class="pos-vertical-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 text--center">
                                <div class="slide--headline">Khi bạn bỏ cuộc, hãy nhớ lý do bạn bắt đầu</div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3 text--center">
                                <div class="slide--bio">Khoẻ, đẹp cùng GYMONLINE</div>
                                <div class="slide-action">
                                    <a class="btn btn--primary btn--rounded" href="signin">Đăng ký ngay </a>
                                </div>
                            </div>
                        </div>
                        <!-- .row end -->
                    </div>
                    <!-- .container end -->
                </div>
            </div>
            <!-- .slide-item end -->

            <!-- Slide #2 -->
            <div class="slide--item bg-overlay bg-overlay-dark">
                <div class="bg-section">
                    <img src="https://wallpapercave.com/wp/wp4252414.jpg" alt="background">
                </div>
                <div class="pos-vertical-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 text--center">
                                <div class="slide--headline">Xây dựng sự tự tin. Xây dựng thể lực.</div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3 text--center">
                                <div class="slide--bio">Khoẻ, đẹp cùng GYMONLINE</div>
                                <div class="slide-action">
                                    <a class="btn btn--white btn--bordered btn--rounded" href="signin">Đăng ký ngay</a>
                                </div>
                            </div>
                        </div>
                        <!-- .row end -->
                    </div>
                    <!-- .container end -->
                </div>
            </div>
            <!-- .slide-item end -->

            <!-- Slide #3 -->
            <div class="slide--item bg-overlay bg-overlay-dark">
                <div class="bg-section">
                    <img src="https://landing.cfyc.com.vn/themes/landing/assets/landingpages/tap-gym-nam/img/sec4-slide-3.jpg?v=1.6"
                        alt="background">
                </div>
                <div class="pos-vertical-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 text--center">
                                <div class="slide--headline">Thay đổi cơ thể, thay đổi cuộc sống.</div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3 text--center">
                                <div class="slide--bio">Khoẻ, đẹp cùng GYMONLINE</div>
                                <div class="slide-action">
                                    <a class="btn btn--white btn--bordered btn--rounded" href="signin">Đăng ký ngay</a>
                                </div>
                            </div>
                        </div>
                        <!-- .row end -->
                    </div>
                    <!-- .container end -->
                </div>
            </div>
            <!-- .slide-item end -->

        </section>
        <!-- #slider end -->
        <!-- Services #1
============================================= -->
        <section id="service1" class="services services-2 text-center bg-white">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
                        <div class="heading text--center mb-80">
                            <h2 class="heading--title">Các dịch vụ</h2>
                            <p class="heading--desc">Mang đến cho bạn trải nghiệm tốt nhất.</p>

                        </div>
                    </div>
                    <!-- .col-md-6 end -->
                </div>
                <!-- .row end -->
                <div class="row">
                    <!-- Service #1 -->
                    <div class="col-xs-12 col-sm-4 col-md-4">
                        <div class="service-panel">
                            <div class="service--img">
                                <img src="https://vietnamsautaylai.com/wp-content/uploads/2019/10/pt-gym-la-gi1.jpg"
                                    alt="img">
                            </div>
                            <h3>Hệ thống PT chuyên nghiệp</h3>
                            <p>Giúp bạn đạt hiệu quả cao trong tập luyện</p>
                        </div>
                        <!-- .container end -->
                    </div>
                    <!-- .col-md-4 end -->

                    <!-- Service #2 -->
                    <div class="col-xs-12 col-sm-4 col-md-4">
                        <div class="service-panel">
                            <div class="service--img">
                                <img src="https://th.bing.com/th/id/Rf72df1ef12c993036858947ffe9b8595?rik=nUuK8MDYAT%2FjXQ&pid=ImgRaw"
                                    alt="img">
                            </div>
                            <h3>Thực phẩm bổ sung đa dạng</h3>
                            <p>Nâng cao hiệu quả tập luyện</p>
                        </div>
                        <!-- .container end -->
                    </div>
                    <!-- .col-md-4 end -->

                    <!-- Service #3 -->
                    <div class="col-xs-12 col-sm-4 col-md-4">
                        <div class="service-panel">
                            <div class="service--img">
                                <img src="https://thaythuocvietnam.vn/wp-content/uploads/2018/09/International-Yoga-day-1000x600.jpg"
                                    alt="img">
                            </div>
                            <h3>Yoga</h3>
                            <p>Giúp bạn cân bằng lại cuộc sống</p>
                        </div>
                        <!-- .container end -->
                    </div>
                    <!-- .col-md-4 end -->
                </div>
                <!-- .row end -->
            </div>
            <!-- .container end -->
        </section>
        <!-- #service1 end -->

        <!-- working-time #1
============================================= -->
        <section id="working-time" class="working-time text-center bg-overlay bg-overlay-dark bg-parallax">
            <div class="bg-section">
                <img src="https://www.leisureopportunities.co.uk/images/2020/HIGH345268_201530_100704.jpg"
                    alt="Background" />
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
                        <div class="heading text--center mb-80">
                            <h2 class="heading--title text-white">Giờ mở cửa</h2>
                        </div>
                    </div>
                    <!-- .col-md-6 end -->
                </div>
                <!-- .row end -->
                <div class="row">
                    <!-- Service #1 -->
                    <div class="col-xs-6 col-sm-4 col-md-2" style="margin-left:487px">
                        <div class="time-panel">
                            <h3>Các ngày trong tuần</h3>
                            <ul class="list-unstyled mb-0">
                                <li>sáng</li>
                                <li>5h - 9h</li>
                                <li>Chiều</li>
                                <li>15h-20h</li>
                            </ul>
                        </div>
                        <!-- .time-panel end -->
                    </div>

                    <!-- .col-md-2 end -->

                    <!-- Service #2 -->

                    <!-- .time-panel end -->

                    <!-- .time-panel end -->
                </div>
                <!-- .col-md-2 end -->

            </div>
            <!-- .row end -->
    </div>
    <!-- .container end -->
    </section>
    <!-- #service1 end -->

    <!-- pricing #2
============================================= -->
    <section id="pricing" class="pricing pricing-2 bg-white pb-80">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
                    <div class="heading text--center mb-70">
                        <h2 class="heading--title">Một số dịch vụ</h2>
                        <p class="heading--desc">Cho bạn những trải nghiệm tốt nhất</p>
                    </div>
                </div>
                <!-- .col-md-6 end -->
            </div>
            <!-- .row end -->
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-md-offset-3">
                    <!-- Pricing #1 -->
                    <div class="pricing-panel">
                        <div class="pricing--content">
                            <h4 class="pricing--heading">Thuê PT</h4>
                            <div class="pricing--divider"></div>
                            <span class="price">3.000.000-5.000.000/tháng</span>
                        </div>
                    </div>
                    <!-- .panel end -->
                    <!-- Pricing #2 -->
                    <div class="pricing-panel">
                        <div class="pricing--content">
                            <h4 class="pricing--heading">Giá buổi</h4>
                            <div class="pricing--divider"></div>
                            <span class="price">30.000/buổi</span>
                        </div>
                    </div>
                    <!-- .panel end -->
                    <!-- Pricing #3 -->
                    <div class="pricing-panel">
                        <div class="pricing--content">
                            <h4 class="pricing--heading">Gói tháng</h4>
                            <div class="pricing--divider"></div>
                            <span class="price">350.000/tháng</span>
                        </div>
                    </div>
                    <!-- .panel end -->
                    <!-- Pricing #4 -->
                    <div class="pricing-panel">
                        <div class="pricing--content">
                            <h4 class="pricing--heading">Yoga</h4>
                            <div class="pricing--divider"></div>
                            <span class="price">300.000/tháng</span>
                        </div>
                    </div>
                    <!-- .panel end -->
                    <!-- Pricing #5 -->
                    <div class="pricing-panel">
                        <div class="pricing--content">
                            <h4 class="pricing--heading">Tư vấn dinh dưỡng</h4>
                            <div class="pricing--divider"></div>
                            <span class="price">Miễn phí</span>
                        </div>
                    </div>
                    <!-- .panel end -->
                    <!-- Pricing #5 -->
                    <!-- .panel end -->
                </div>
                <!-- .col-md-4 end -->
            </div>
            <!-- .row end -->
        </div>
        <!-- .container end -->
    </section>
</body>

</html>